<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery_option.name %>
</p>

<%= link_to 'Edit', edit_delivery_option_path(@delivery_option) %> |
<%= link_to 'Back', delivery_options_path %>
