<h1>
  <%= budget_product.product.cod %>
</h1>

<%= budget_product.product.name %>
<hr>
<%= number_to_currency budget_product.total_value %>
<hr>
<%= number_to_currency budget_product.value_discount_total %>