<div class="row mb-4">
  <div class="col-2">
    <%= image_tag 'Logo2.png', alt: "Tubos Poty", width: "72", height: "72" %>
  </div>
  <div class="col-3">
    <p>
      <strong>
        Data:
      </strong>
        21/05/2018
      <br>
      <strong>
        Pedido:
      </strong>
        Nº 444/2018
      <br>
      <strong>
        Cliente:
      </strong>
        Studio Homero
    </p>
  </div>
  <div class="col-7">
    <p>
      <strong>
        Endereço:
      </strong>
        Avenida Homero Castelo Branco - São Cristóvão, Teresina - PI
      <br>
      <strong>
        CNPJ:
      </strong>
        20.644.187/0001-73
      <br>
      <strong>
        Vendedor (a):
      </strong>
        Rhayssa
    </p>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Produto</th>
      <th scope="col">Valor unitário</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>TE25</td>
      <td>TUBO PVC 25MM x 3M ELETRODUTO</td>
      <td>R$ 3,77</td>
      <td>1000</td>
      <td>R$ 3.770,00</td>
    </tr>
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td colspan="4" class="text-right">
        <h5>
          <strong>
            VALOR TOTAL DO PEDIDO
          </strong>
        </h5>
      </td>
      <td class="text-left">
        <h5>
          <strong>
            R$ 3.770,00
          </strong>
        </h5>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <strong>
    Prazo de entrega:
  </strong>
  Até 10 dias
  <br>
  <strong>
    Opções de entrega:
  </strong>
  Entrega na loja
  <br>
  <strong>
    Prazo de pagamento:
  </strong>
  Boleto 30 dias
</p>
<hr>
<p class="text-secondary">
  <small>
    Qualquer dúvida ou esclarecimento favor entrar em contato pelos numeros: (86) 3231-7007 / (86) 99452-9454
  </small>
</p>
<div class="row">
  <div class="col-6 mt-5 p-5">
    <div class="d-flex flex-row align-items-center justify-content-center pt-2 border-top">
      <p>Cliente</p>
    </div>
  </div>
  <div class="col-6 mt-5 p-5">
    <div class="d-flex flex-row align-items-center justify-content-center pt-2 border-top">
      <p>CD</p>
    </div>
  </div>
</div>
