<%- model_class = ProviderContract -%>
<div class="page-header d-flex justify-content-lg-between align-items-center">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<span class="new_form_remote">
  <%= render 'form', provider_contract: @provider_contract %>
</span>
