$primary: #3f51b5 !default;

@import "bootstrap/scss/bootstrap";
@import "material-design-icons/iconfont/material-icons";
@import "select2/dist/css/select2";
@import "select2-bootstrap4-theme/src/select2-bootstrap4";
@import "air-datepicker/dist/css/datepicker.min";
// @import "bootstrap-material-design/dist/css/bootstrap-material-design";
@import "navbar-top-fixed";
@import "home";
@import "variables";
@import "functions";
@import "custom";

select[readonly] {
  background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
  pointer-events: none;
  touch-action: none;
}